body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
    border: 1px solid black;
    padding: 10px;
}

headerm {
    background-color: pink;
    color: #fff;
    padding: 10px;
}
h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    width: 100%;
    justify-content:center;
    display: inline-flex;
}


nav li {
    margin-right: auto;
margin-left: auto;
    color: black;
}
nav asd{
    text-align:left;
    color: black;
    float: left;

}
nav a {
    color: #fff;
    text-decoration: none;
}

nav form {
    display: flex;

float: right;
    margin-left: 30px;
    width: 200px;
    height: 30px;
}

nav input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

nav button[type="submit"] {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    height: auto;
    width: auto;
    background-color: aqua;
    color:black;
    padding: 10px;
    text-align: center;

}

box{
float: left;
    display: inline-block;
    padding: 2px;
    border: 1px solid blue;
    width: auto;
    height: 450px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20px;

}
box2{
    width: 100px;
 border-bottom: 1px solid blue;

}
clear{
    clear: both;
    display: block;
}